@import 'libs/reset';
@import 'libs/fonts';
@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';

body {
    background-color: $color-white;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

@import 'blocks/header';