@import 'libs/reset';
@import 'libs/fonts';
@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';

body {
    background-color: $color-white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/modern-interior';
@import 'blocks/services';
@import 'blocks/about-us';
@import 'blocks/success-story';
@import 'blocks/main-stats';
@import 'blocks/testimonials';