.about-us {
    padding: 143px 0 225px 0;
    background: url('../../images/about_us_decore.svg') bottom left 253px/212px 150px no-repeat;

    &__inner {
        display: flex;
        gap: 130px;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        flex: 1;
        font-family: 'Open Sans', sans-serif;
        color: $color-gray;
    }

    &__subtitle {
        font-weight: 600;
        font-size: $fs-20;
        line-height: 30px;
        margin-bottom: 60px;
        text-transform: uppercase;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: $fs-48;
        line-height: 57px;
        color: $color-gray-dark;
        margin-bottom: 5px;
    }

    &__description {
        font-weight: 400;
        font-size: $fs-18;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__btn {
        @include main-button;
        padding: 14px 30px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: $fs-18;
    }

    &__image {
        width: 679px;
        height: 711px;
        position: relative;

        img {
            width: 100%;
            border-radius: 140px 0px;
            object-fit: cover;
        }

        &:after {
            content: '';
            position: absolute;
            width: 679px;
            height: 711px;
            border: 2px solid $color-brown;
            border-radius: 140px 0px;
            top: -32px;
            left: -35px;
            z-index: -1;
        }
    }
}