.header {
    padding-top: 102px;
}

.navbar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: $fs-16;
    line-height: 22px;
    color: $color-gray-dark;
}

.navbarOffsetMargin {
    padding-top: 182px;
}

.sticky {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-white;
    z-index: 10;
}

.header-progress-container {
    width: 100%;
    height: 5px;
    background: $color-silver;
}

.header-progress-bar {
    height: 5px;
    background: $color-main-green;
    width: 0%;
}

.logo {
    width: 150px;
    height: 47px;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.menu {
    &__items {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        text-transform: uppercase;
    }

    &__item {
        cursor: pointer;
        border: 5px solid transparent;
        border-radius: 20px;
        padding: 10px;

        a:link {
            color: $color-gray-dark;
        }

        a:visited {
            color: $color-main-green;
        }

        &:hover {
            transition: all .6s ease-in;
            @include menu-item-hover;
        }

        a:active {
            color: $color-main-green;
        }

        &_home {
            a:link {
                color: $color-gray;
            }

            a:visited {
                color: $color-main-green;
            }

            a:hover {
                color: $color-main-green;
            }

            a:active {
                color: $color-main-green;
            }
        }
    }
}

.authorize {
    &__btn {
        @include main-button;
        width: 96px;
        height: 31px;
        background: $color-brown-light;
    }
}