.our-services {
    padding: 143px 0 225px 0;
    background: url('../images/main_decore.svg') bottom right no-repeat;

    &__subtitle {
        @include main-subtitle;
    }

    &__title {
        @include main-title;
        margin-bottom: 44px;
    }

    @media (max-width: $small-device-breakpoint) {
        &__title {
            margin-bottom: 24px;
        }
    }
}

@media (max-width: $large-device-breakpoint) {
    .our-services {
        padding-top: 50px;
    }
}

.our-services-header {
    display: flex;
    gap: 5%;
    margin-bottom: 110px;

    &__btn {
        @include main-button;
        border-radius: 20px;
        width: 206px;
        height: 46px;
    }
}

@media (max-width: $small-device-breakpoint) {
    .our-services-header {
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 60px;
        justify-content: center;
        &__btn {
            min-width: 150px;
        }
    }
}

.active-btn {
    background-color: $color-white;
    color: $color-main-green;
    border: 5px solid $color-main-green;
}

.our-services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

@media (max-width: $small-device-breakpoint) {
    .our-services-cards {
       flex-direction: column;
       align-items: center;
    }
}

.our-services-card {
    position: relative;
    padding: 30px 24px 15px 106px;
    max-width: 30%;
    min-height: 164px;
    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    animation: fadeIn 0.5s ease-in-out;

    &:before {
        position: absolute;
        content: "";
        width: 45px;
        height: 35px;
        top: 34px;
        left: 40px;
        background: url('../../icons/services_interior_design.png') no-repeat;
    }

    &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: $fs-24;
        color: $color-gray-dark;
        min-height: 45px;
    }

    &__description {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: $fs-18;
        line-height: 28px;
        color: $color-gray;
    }

    &_architecture {
        background: $color-brown-light;

        &:before {
            background: url('../../icons/services_architecture.png') no-repeat;
        }

        .our-services-card__title {
            color: $color-white;
        }

        .our-services-card__description {
            color: $color-white;
        }
    }

    &_planning {
        &:before {
            background: url('../../icons/services_planning.png') no-repeat;
        }
    }
}

@media (max-width: $large-device-breakpoint) {
    .our-services-card {
        max-width: 45%;
        min-height: 164px;
    }
}

@media (max-width: $small-device-breakpoint) {
    .our-services-card {
        max-width: 90%;
        min-height: 164px;
    }
}
