.shop {
    padding: 130px 0 80px 0;

    &__subtitle {
        @include main-subtitle;
        text-align: center;
    }

    &__title {
        @include main-title;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    @media (max-width: $small-device-breakpoint) {
        &__title {
            margin-bottom: 40px;
        }
    }

    &__content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        display: block;
        width: 30px;
        height: 30px;
        background: $color-white;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 50%;

        &:hover {
            background: $color-main-green;
            color: $color-white;
        }
    }

    &__slider {
        position: relative;
        width: 700px;
        height: 500px;
        margin: 0 50px;
        border-radius: 140px 0px;
        overflow: hidden;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: $medium-device-breakpoint) {
        &__slider {
            margin: 0 20px;
        }
    }

    @media (max-width: $small-device-breakpoint) {
        &__slider {
            margin: 0 15px;
            width: 350px;
            height: 300px;
            border-radius: 90px 0px;
        }
    }

    &__slider img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 140px 0px;
        border: none;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &__slider img.active {
        opacity: 1;
    }
}

@media (max-width: $small-device-breakpoint) {
    .shop {
        padding-bottom: 60px;
    }
}