.success-story {
    padding-bottom: 220px;

    &__inner {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:after {
            content: "";
            background: url('../images/secondary_decore.svg') no-repeat;
            position: absolute;
            width: 212px;
            height: 153px;
            top: 50%;
            right: -250px;
        }
    }

    &__content {
        width: 45%;
        font-family: 'Open Sans', sans-serif;
        color: $color-gray;
    }

    @media (max-width: $small-device-breakpoint) {
        &__content {
            width: 100%;
        }
    }

    &__content-image {
        margin-bottom: 45px;
    }

    @media (max-width: $large-device-breakpoint) {
        &__content-image {
            width: 70%;
            height: 100%;
        }
    }

    @media (max-width: $large-device-breakpoint) {
        &__content-image {
            width: 50%;
        }
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: $fs-50;
        line-height: 65px;
        color: $color-gray-dark;
        margin-bottom: 35px;
    }

    @media (max-width: $large-device-breakpoint) {
        &__title {
            line-height: 45px;
        }
    }

    &__description {
        font-weight: 400;
        font-size: $fs-18;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__btn {
        @include main-button;
        padding: 14px 30px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: $fs-18;
    }

    &__image {
        width: 55%;
        height: 600px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border-radius: 140px 0px;
            object-fit: cover;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid $color-brown;
            border-radius: 140px 0px;
            top: 32px;
            left: 35px;
            z-index: -1;
        }
    }


    @media (max-width: $large-device-breakpoint) {
        &__image {
            width: 50%;
            height: 100%;
        }
    }

    @media (max-width: $medium-device-breakpoint) {
        &__image {
            height: 600px;
        }
    }

    @media (max-width: $small-device-breakpoint) {
        &__image {
            display: none;
        }
    }

}

@media (max-width: $large-device-breakpoint) {
    .success-story {
        padding-bottom: 120px;
    }
}

@media (max-width: $small-device-breakpoint) {
    .success-story {
        padding-bottom: 60px;
    }
}