@keyframes plane-fly-left {
    from {
        top: 10%;
        right: 42%;
    }

    30% {
        top: 2%;
        right: 30%;
        transform: rotate(60deg);
    }

    60% {
        top: 10%;
        right: 20%;
        transform: rotate(60deg);
    }

    to {
        top: 55%;
        right: -10%;
        transform: rotate(35deg);
    }
}