@keyframes flip {
    35% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotatex(360deg);
    }
}

@keyframes fadeIn {
    from {
      opacity: 10%;
    }
  
    to {
      opacity: 100%;
    }
  }
