@mixin main-button {
    background: $color-main-green;
    border-radius: 15px 0px;
    color: $color-white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: $color-white;

}