// Colors
$color-white: #fff;
$color-brown-light: #caa892;
$color-brown-dark: #b0855b;
$color-gray-dark: #212121;
$color-black: #111;
$color-gray: #646464;
$color-teal: #37806b;
$color-white-smoke: #f8f8f8;
$color-silver: #c4c4c4;


//Font-sizes
$fs-16: 1em;
$fs-18: 1.125em;
$fs-20: 1.25em;
$fs-24: 1.5em;
$fs-30: 1.875em;
$fs-48: 3em;
$fs-50: 3.125em;
$fs-96: 6em;

// Media breakpoints
$x-large-device-breakpoint: 1599.98px;
$large-device-breakpoint: 1199.98px;
$medium-device-breakpoint: 991.98px;
$small-device-breakpoint: 767.98px;
$x-small-device-breakpoint: 478.98px;